.DS_Store
ios.json
plugins
node_modules
platforms/ios/cordova
platforms/ios/CordovaLib
platforms/ios/platform_www
platforms/ios/SHSamplePG.xcodeproj/project.xcworkspace/xcuserdata
platforms/ios/SHSamplePG.xcodeproj/xcuserdata
platforms/ios/SHSamplePG/Resources/StreetHawkCoreRes.bundle
platforms/ios/www
